<%= Gon::Base.render_data %>
<div class="header">
  <p><img src='/img/img24x24.png' alt='' style="width:24px;height:24px;vertical-align:middle;"><span style="vertical-align:middle;">abc</span></p>
</div>
