<%= Gon::Base.render_data %>
<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand mr-auto" href="#">チーム名</a>
  <div class="input-group" style="width: auto;">
    <input type="text" class="form-control" placeholder="テキスト入力欄">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fas fa-search"></i> 検索
      </button>
    </span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#" aria-controls="#" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="#">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">TOP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">通知</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">メール</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">天気</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">アカウント編集</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>
<form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>
<div id="calendar-container">
  <div class="left-item">
    <a href="#">通知</a><br>
    <a href="#">メール</a><br>
    <a href="#">天気</a><br>
    <a href="#">一覧</a><br>
    <a href="#">アカウント編集</a>
  </div>
  <div class="right-item">
    <div id="calendar" class="calendar"></div>
  </div>
</div>
