#player-container {
  display: flex;
  margin-top: 56px;
  flex-direction: column;
  border: 1px solid red;
  width: 231.4px;
}

#item {
  height: 131.16px;
  background-color: red;
}

#calendar-container {
  display: flex;
  .left-item {
    width: 300px;
    margin-top: 100px
  }
  .right-item {
    width: 100%;

    #calendar{
      margin-top: 100px;
      width: auto;
    }
  }
}

