/* === 検索全体のBOX (サンプル用) ============================ */
.sample3Area {
  position: relative;
  width: 250px;
  /* BOXの幅               */
  height: 40px;
  /* BOXの高さ             */
  margin: auto;
  /* サンプルを中心に寄せ  */
  letter-spacing: 0.1em;
  /* 文字間隔              */
  font-weight: bold;
  /* 太字                  */
  line-height: 0;
  /* 標準の行高さ          */
}

/* === テキスト入力欄のSTYLE設定 ============================= */
.sample3Text {
  position: absolute;
  display: block;
  /* ブロック化            */
  box-sizing: border-box;
  /* 枠線,余白を含んだ長さ */
  height: 40px;
  /* BOXの高さ             */
  width: 100%;
  /* テキスト入力の幅      */
  margin: 0;
  /* 外余白                */
  padding: 0 45px 0 8px;
  /* 内余白                */
  border: 2px solid #666;
  /* 枠線　幅,実践,色      */
  border-radius: 6px;
  /* 角丸                  */
  color: #333;
  /* 文字色                */
  font-size: 18px;
  /* フォントサイズ        */
  outline: 0;
  /* 入力の薄い枠を非表示  */
}

/* === 検索ボタン欄のSTYLE設定 =============================== */
.sample3Button {
  position: absolute;
  box-sizing: border-box;
  /* 枠線,余白を含んだ長さ */
  height: 28px;
  /* 入力の高さ            */
  margin: 0;
  /* 外余白                */
  padding: 6px 10px;
  /* 内余白                */
  top: 6px;
  /* ボタン表示位置(上)    */
  right: 6px;
  /* ボタン表示位置(右)    */
  border: none;
  /* 枠線　幅,実践,色      */
  border-radius: 6px;
  /* 右上下の角丸          */
  background: #666;
  /* ボタンの色            */
  color: #fff;
  /* 文字色                */
  cursor: pointer;
  /* カーソル設定          */
}

/* === テキスト入力欄にフォーカスか来たとき ================== */
.sample3Text:focus {
  background: #cfe7ff;
  /* フォーカス時の背景色  */
}

/* === 検索ボタン欄にフォーカスか来たとき ==================== */
.sample3Button:hover {
  background: #333;
  /* フォーカス時の背景色  */
}

/* === 検索アイコンのSTYLE設定 =============================== */
.sample3Img {
  display: inline-block;
  /* インラインブロック化  */
  width: auto;
  /* 幅は高さに合わせる    */
  height: 20px;
  /* 画像の高さ            */
  margin: 0;
  /* 余白                  */
  vertical-align: middle;
  /* 横の文字位置          */
}

/* === IEの入力エリア右側×消し ============================== */
.sample3Text::-ms-clear {
  display: none;
  /* ×を消す              */
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #f1f1f1;
  position: relative;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000000;
  padding: 28px 16px;
  text-decoration: none;
}

ul.sidenav li a:hover {
  background-color: #1b2538;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

#calendar {
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 5px;
  top: 200px;
}