<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand">チーム名</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div id="player-container">
  <div class="item">Item 1</div>
  <div class="item">Item 2</div>
  <div class="item">Item 3</div>
  <div class="item">Item 4</div>
</div>
<div id="calendar-container">
  <div id="calendar" style="height: 800px;"></div>
</div>
