<h1>チーム名</h1>
<div class="sample3Area">
  <input type="text" class="sample3Text">
  <div class="sample3Button" onclick="goSearch()">
    <%= image_tag "/images/sozai_cman_jp_20200929214638.jpg", class: "sample3Img" %>
  </div>
</div>
<ul class="sidenav">
  <li><a href="#notification">通知</a></li>
  <li><a href="#mail">メール</a></li>
  <li><a href="#weather">天気</a></li>
  <li><a href="#search">一覧</a></li>
  <li><a href="#edit">アカウント編集</a></li>
</ul>
<div class=#calendar id="calendar" style="height: 800px;"></div>
